*{
    margin: 0;
    padding: 0;
}

header{
    background: #cccccc;
    width: 100%;
    height: 20vh;
    border: 4px solid #ffffff;
}

#fuente{
    font-size: 40px;
    font-style: initial;
    text-transform: uppercase;
    font-family: "Ultra", sans-serif;
}
article{
    background: lightgreen;
    width: 85%;
    height: 80vh;
    margin: 1px 2px;
    border: 2px solid #ffffff;
    float: left;
    position: relative;
}

article > div > h2{
    font-size: 20px;
    font-family: sans-serif;
    margin: 3px 3px;
    text-transform: uppercase;
}

article > div > #subtitulo{
    position: absolute;
    left: 3%;
    top: 2%;
}

article > div > #parrafo{
    position: absolute;
    top: 8%;
}

article > div > #subtitulo2{
    position: absolute;
    left: 52%;
    bottom: 94%;
}

article > div > p {
    font-size: 15px;
    font-family: sans-serif;
    text-transform: uppercase;
    width: 47%;
    height: 50%;
    text-align: justify;
    margin:10px 10px;
}

article > div > #parrafo2{
    position: absolute;
    left: 50%;
    bottom: 40%;
}

article > div > #parrafo3{
    position: absolute;
    bottom: 0%;
}

article > div > #subtitulo3{
    position: absolute;
    top: 40%;
}

img{
    margin: 10px 10px;
    width: 40vw;
    height: 40vh;
    position: absolute;
    left: 50%;
    top: 44%;
}

aside{
    width: 10%;
    height: 60vh;
    float: left;
}

#caja1{
    border: 2px solid #ffffff;
    background: lightgreen;
    width: 138%;
    height: 20vh;
}

#caja2{
    border: 2px solid #ffffff;
    background: #cccccc;
    width: 138%;
    height: 70vh;
}

footer{
    clear: both; /*para limpiar la instruccion que realizamos del footer*/
    width: 85%;
    height: 10vh;
    background: lightgreen;
    margin: 2px 2px;
    border: 1px solid #ffffff;
}

h6{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 20px;
    font-style: italic;
}